body {
    margin: 0;
    background-color: #1a1717;
    color: white;
}

.header {
    background-image: url(images/logo.png);
    background-size: 100%;
    height: 380px;
    margin: -10px 0 0 0;
    background-repeat: no-repeat;
    background-position: center;
}

.company-logo {
    width: 120px;
    height: 71px;
    margin-top: 9px;
    float: left;
    opacity: .7;
    position: fixed;
}

.main-nav {
    background: white;
    opacity: .8;
    height: 60px;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
}

.header p {
    color: black;
    text-align: center;
    font-family: 'Bungee Outline', cursive;
    font-size: 30px;
    margin: -8px;
}

.header .m-plus {
    display: none;
    color: black;
    font-family: 'Bungee Outline', cursive;
    font-size: 30px;
    margin: 0 0 0 115px;
}

.tabs {
    float: right;
    font-size: 19px;
    padding-right: 10px;
}

.tabs li {
    display: inline;
    margin: 5px;
    font-weight: 100;
}

.tabs li a {
    list-style: none;
    text-decoration: none;
    color: black;
    padding: 4px;
}

.tabs li a:visited {
    color: #b15555;
}

.tabs li a:hover {
    color: #938d8d;
}

h1 {
    color: aliceblue;
    text-align: center
}

.intro-para {
    color: aliceblue;
    padding: 13px;
    margin: 25px;
}


/****
timeTable
****/


.timeTable table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse; /* stops hurting my eyes with seperate cells*/
    
}

.timeTable td {
    text-align: center;
    border: 1px solid white;
    padding: 5px

    
}

.timeTable tr:first-child td, /* first table row  and targeted each cell within that row*/
.timeTable td:first-child {  /* first data for each row*/
    background-color: gray;
    
}



/****
The Team
****/

.images {
    width: 100%;
    padding: 0;
}

.images li img {
    width: 100%;
}

.images li {
    list-style: none;
    border-radius: 10%;
    float: left;
}


.images li:nth-child(2){
    margin-left: 10%;
}

.images li:last-child{
    margin-right: 10%;
}



.picPat,
.picfloyd {
   width: 35%;
   margin: 0 5%;
}


/****
contact page
****/

.main-contact li {
    list-style-type: none;
    padding: 13px;
    margin: 13px;
}

.main-contact li a:hover {
    padding: 20px 20px 20px 0;
}

.main-contact a {
    color: lightblue;
}

.main-contact h3 {
    text-align:
}

#menu-icon {
    background: url(images/main-nav.png) no-repeat center;
    display: hidden;
    width: 32px;
    height: 32px;
}

footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    color: skyblue;
    clear: both;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin-top: 150px;
    /* is this the best way to keep it down?*/
    border-radius: 50%;
    background: skyblue;
}

@media only screen and (max-width: 560px) {
    .header p {
        display: none;
    }
    .header .m-plus {
        display: inline;
    }
    #menu-icon {
        display: inline-block;
        float: right;
        margin: 0px 12px;
    }
    .main-nav .tabs,
    nav:active .tabs {
        display: none;
        position: absolute;
        padding: 20px;
        background: #c5c5c5;
        margin: 0;
        right: 0;
        top: 65px;
        width: 35%;
    }
    .main-nav:hover .tabs {
        display: block;
    }
    .tabs li a {
        display: block;
        padding: 2px;
    }
    .main-nav li {
        text-align: center;
        width: 100%;
        padding: 15px 0;
        margin: 0;
        word-wrap: break-word;
    }
}

@media only screen and (max-width: 320px) {
    .header .m-plus {
        font-size: 20px;
    }
}
